<nav class="navbar navbar-expand-md navbar-light bg-nav navbar-container">

    <a href="index.html" class="navbar-brand d-none d-md-block">
        <img src="images/logo.jpg" class="img-fluid" alt="R.B. Stewart Petroleum Products">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <a href="index.html" class="navbar-brand d-block d-md-none">
        <span>R.B. Stewart</span>
    </a>

    <div class="collapse navbar-collapse" id="mobileNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="index.html">home</a></li>
            <li class="nav-item"><a class="nav-link" href="careers.html">careers</a></li>
            <li class="nav-item"><a class="nav-link" href="http://drivers.cfdssafety.com/dq/RBStewart">apply</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">about us</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">contact us</a></li>
        </ul>
    </div>

</nav>

<header class="container mb-5">

<img src="images/truck1.jpg" class="img-fluid img-header d-none d-md-block" alt="Big Yellow Truck">

</header>